body{
    text-align: center;
    font-family: sofia-pro,sans-serif;
    background-color: lightsteelblue;
}
a{
    text-decoration: none;
}
.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;

}
.glass{

    width: 400px;
    padding-top: 20px;
    padding-bottom: 50px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.26);

}

