
.header-main__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    height: 65px;
    display: flex;
    overflow: hidden;
    text-decoration: none;
    transform: translate(-50%,-50%);
    align-items: center;
    align-self: center;
    vertical-align: middle;
    align-content: center;

}
.header-main__wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    margin: 0 0 auto 0;
    z-index: 1024!important;
    height: 60px;
    background-color: var(--gfg-tint-color);
    opacity: 1;
    transition: position .4s,opacity .2s!important;
}